body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    color: #fff;
 }
 a, a:hover, a:visited, a:active {
    color: #fff;
    text-decoration: none;
 }
  
 * {
    box-sizing: border-box;
 }
  
 /**********/
 /* Layout */
 /**********/
 aside, footer, header, nav, section, article {
    display: flex;
    flex-direction: column;
 }
 body {
    overflow: hidden;
    margin: 0px;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto 100px;
    grid-template-areas:
       "left main"
       "bottom bottom";
    height: 100vh;
 }
  
 aside {
    background-color: #000;
    grid-area: left;
 }
 header {
    background: #111;
    position: fixed;
    width: calc(100vw - 250px);
    left: 250px;
 }
  
 main {
    background: #111;
    grid-area: main;
    min-height: calc(350px);
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    z-index: 3;
 }
  
 nav {
    margin-top: 100px;
 }
  
 footer {
    background: #222;
    grid-area: bottom;
 }
  
  
 /***************************/
 /* Accessories & Florishes */
 /***************************/
 ::-webkit-scrollbar {
    width: 16px;
 }
  
 ::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    min-height: 30px;
 }
 ::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.3);
 }
  
 /***************************/
 /* Part A: Left Navigation */
 /***************************/
  
 aside {
    padding: 30px;
 }
  
 aside, a, i {
    padding-right: 12px;
    padding-bottom: 10px;
    color: #c7c7c7;
 }
  
 i.fab fa-spotify {
    color: yellow;
 } /* ?? how do i change the spotify logo only for padding and color? */
  
 a.selected-sidebar {
   justify-content: center;
   border-left: solid #1DB954 3px;
   padding:10px;
}

aside a{
   border-left: solid transparent 3px;
   padding:10px;
}
  
 /********************************/
 /* Part B: Header & Nav Styling */
 /********************************/
  
 /* Your Code Here */
  
 header{
    flex-direction: row;
    justify-content: right;
    padding: 20px;
    /* background-color: hotpink; */
 }
  
 header a{
    border: solid 2px #fff;
    border-radius: 30px;
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
    justify-content: center;
    margin: 15px;
    position: relative;
    text-transform: uppercase;
 }
  
 a.selected {
    justify-content: center;
    border-bottom: solid #1DB954 3px;
 }


 /* ?? how do i select just in aside or just in header to change underline location */
  
 nav{
    flex-direction: row;
    justify-content: left;
    padding: 20px;
 }
  
 nav a{
    margin-right: 15px;
    text-transform: uppercase;
 }

 #profile{
    background-color: #222222;
 }
  
  
 /*************************/
 /* Part C: Artists Panel */
 /*************************/
  
 /* Your Code Here */
  
 #featured-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   
 }
  
 .artist-card{
    background: #222222;
    padding-top: 20px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-left: 15px;
    width: 15%;
    height: 300px;
 }

 

 /* .card-footer{
   display: flex;
   flex-direction: column;
   justify-content: space-between;

 } */


  
 section img{
    border-radius: 50%;
    width: 75%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
 }
  
 /* how do i get the text of the arists without the margin */
  

  
 .play-button {
    float: right;
    visibility: hidden;
 }
  
 .artist-card:hover .play-button{
    visibility: visible;
 }
  
  
 .play-button {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0px;
    float: right;
    background-color: #1cb954;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  
 }
  
 .fa-play {
    color: white;
    margin: 0px;
    padding: 0px;
  
 }
  
  
 /**************************/
 /* Part D: Responsive UIs */
 /**************************/
  
 @media only screen and (max-width: 1000px) {
    article {
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    section {
        width: 20%;
       
    }
 }
  
 @media only screen and (max-width: 600px) {
    article {
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }
    .artist-card {
        width: 40%;
    }


    aside {
      display: none;
  }

    body{
       grid-template-columns: 100%;
       grid-template-areas:
       "main"
       "bottom";
    }

    header{
       left: 0px;
       width: 100%;
    }
  

 }
  
 /* What is happening here?? */
  
  
  
 
 