/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/


body {
  margin: 0px;
}

section {
  padding-bottom: 50px;
}
#main {
width: 100%;
padding: 0;
}
/* .content-asset p {
margin: 0 auto;
} */
.breadcrumb {
display: none;
}

#subhead, h1 {
  font-family: "HelveticaNeue-CondensedBold", sans-serif;
  font-size: 100px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  padding: 0;
  margin: 10px;
  text-align: center;
}

/*--------------------------------------------------------------------- typography ---------------------------------------------------------------------*/

.landing-text {
  font-family: "HelveticaNeue-CondensedBold", sans-serif;
  font-size: 100px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;

}
h2 {
  font-family: "HelveticaNeue-CondensedBold", sans-serif;
  font-size: 70px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10;
  opacity: 0.8;
}
h3 {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 0;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: black;
}
p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

/*--------------------------------------------------------------------- naviagation ---------------------------------------------------------------------*/


.navigation-bar img {
  float: left;
  max-width: 3.5vw;
  padding: 10px;
}
/* ~~ Top Navigation Bar ~~ */

#navigation-container {
  width: 100%;
  margin: 0 auto;
  height: auto;
}

html{
  scroll-behavior: smooth;
}

.navigation-bar {
  background-color: #4E2A84;
  height: auto;
  width: 100%;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
}

.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

.navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}

.navigation-bar li a {
  /* color: black;
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-decoration: none;
  line-height: 70px;
  */
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  opacity: 0.7; 
}

/* Change the color of links on hover */
.navigation-bar a:hover {
  background-color: white;
  color: black;
}

/* Add a color to the active/current link */
.navigation-bar a.active {
  background-color: white;
  color: #333;
}


#menu {
  float: right;
}


/*--------------------------------------------------------------------- parallax ---------------------------------------------------------------------*/


#banner {
  /* DEMO */
  height: 60vw;
  width: 100%;
  margin-bottom: 8px;

  /* Functional */
  position: relative;
  background-image: url(https://photos.smugmug.com/Personal-Photos/College/Third-Year-2021-2022/i-QG4dkBB/0/75f884ba/X4/IMG_6810-X4.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#landing-subhead{
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: auto;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

/*--------------------------------------------------------------------- TEACH YOU ---------------------------------------------------------------------*/

/* .* {
  box-sizing: border-box;
} */


/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  height: 100%;
  padding: 5px 5px;
  margin: 0px 0px 100px 0px;

}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #4E2A84;
  color: white;
  height: 100%;
}

.fa {font-size:50px;}

.skill-titles {
  font-family: "HelveticaNeue-CondensedBold", sans-serif;
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  padding: 20px;
  margin: 0;
  text-align: center;

}

p {
  font-family: "HelveticaNeue", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  padding: 5px;
  margin-left: 0vw;
  margin-right: 0vw;


}













/*--------------------------------------------------------------------- TESTIMONIALS ---------------------------------------------------------------------*/

.container {  display: grid;
  grid-template-columns: 12.5% 25% 25% 25% 12.5%;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "padding NNX NNR POLITICAT padding2";
}

.padding { grid-area: padding; }

.NNX { grid-area: NNX; }

.NNR { grid-area: NNR; }

.POLITICAT { grid-area: POLITICAT; }

.padding2 { grid-area: padding2; }






/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

/*--------------------------------------------------------------------- SHOWS ---------------------------------------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
*, *:before, *:after {
  box-sizing: border-box;
}
 
html, body {
  height: 100%;
} 

.slider body {
  height: 100%;
  color: #444;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.slider {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider img {
  width: auto; 
  max-height: 50%; 
  border-radius: 15px;
 }


/* .slider__image img {
  width: 5%;
  height: 5%;
  font-size: 2.7rem;
      color: #2196F3;
} */
.slider__caption {
  font-weight: 500;
  margin: 1rem 0 0rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.slider__txt {
  color: #999;
  margin-bottom: 1rem;
  max-width: 700px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

.slider h2 {
  font-family: "HelveticaNeue-CondensedBold", sans-serif;
  font-size: 70px;
  letter-spacing: 10px;
  text-align: center;
  color: #4E2A84;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10;
  opacity: 0.8;
}